#inputEdit {
    display: none;
}

span {
    padding-right: 30px;
}

p {
    text-decoration: line-through;
}

.Todo-task {
    position: relative;
    transition: opacity 0.4s linear;
}

.Todo-task.completed {
    opacity: 0.6;
}

.Todo-task.completed:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -0.5rem;
    display: block;
    width: 0%;
    height: 2px;
    background: #070707;
    animation: strikeitem 0.5s ease-out 0s forwards;
}

@keyframes strikeitem {
    to {
        width: calc(100%);
    }
}